$accent-color: #fcd7b6;
$active-color: #b22222;
$title-color: #243f4d;
$default-color: #a3bbc8;

//media queries

$lg: 1200px;
$md: 992px;
$sm: 768px;
$xs: 576px;

%checkbox-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

%dmsans-400 {
  font-family: "DMSans", sans-serif;
  font-weight: 400;
}

%dmsans-500 {
  font-family: "DMSans", sans-serif;
  font-weight: 500;
}
%dmsans-700 {
  font-family: "DMSans", sans-serif;
  font-weight: 700;
}

%rubik-300 {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}

%rubik-400 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

%rubik-700 {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
}

%poppins-600 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

%poppins-700 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}


