.product-card {
  position: relative;
  padding: 15px 10px 35px;
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  border-radius: 10px;

  &:hover {
    .control__item {
        opacity: 1;
      }
  }

  @media (max-width: $xs) {
    min-width: 280px;
  }

  &__img {
    display: block;
    margin: 0 auto;
    height: 206px;
    width: 100%;
    object-fit: none;
    object-position: bottom center;
    margin-bottom: 73px;

    @media (max-width: $md) {
      margin-bottom: 25px;
      object-fit: contain;
    }
  }

  &__title {
    margin-bottom: 10px;

    @extend %dmsans-500;
    font-size: 16px;
    color: $title-color;
    text-align: center;

    @media (max-width: $md) {
      font-size: 20px;
    }
  }

  &__price {
    display: block;
    text-align: center;
  
    @extend %dmsans-700;
    color: $default-color;
  }

  &__control {
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 155px;
    left: 50%;
    transform: translateX(-50%);
  }

  .control {
    &__item {
      width: 46px;
      height: 46px;
      padding: 13px 0;
      
      border: none;
      border-radius: 50%;
      background-color: #ffffff;
      box-shadow: 0px 6px 30px 3px rgba(37, 37, 37, 0.2);
      line-height: 0;
      text-align: center;
      opacity: 0;
      cursor: pointer;
      transition: opacity 0.4s, background-color 0.4s, transform 0.3s;
      
      &:not(:last-child) {
        margin-right: 16px;
      }

      &:hover,
      &:focus {
        background-color: $default-color;

        path {
          fill: #ffffff;
        }
      }

      &:active {
        transform: scale(0.9);
      }
    }
  }
}