.blog {
  padding-top: 50px;
  margin-bottom: -174px;

  @media (max-width: $md) {
    padding-top: 20px;
    margin-bottom: -155px;
  }

  @media (max-width: $sm) {
    padding-top: 0;
    margin-bottom: 30px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    @media (max-width: $md) {
      margin-bottom: 25px;
    }

    @media (max-width: $xs) {
      flex-direction: column;
      margin-bottom: 5px;
    }
  }

  &__title {
    margin-bottom: 0;

    @media (max-width: $xs) {
      margin-bottom: 5px;
      font-size: 30px;
      line-height: 1;
    }
  }

  &__link-all {
    margin-top: 9px;
    position: relative;
    padding-right: 25px;

    color: #262626;
    font-weight: 700;
    border-bottom: 1px solid transparent;
    transition: opacity 0.4s, transform 0.4s, border-color 0.4s;

    &:hover {
      border-color: #222933;
    }

    &:focus {
      opacity: 0.8;
    }

    &:active {
      transform: scale(0.9);
    }

    &::after {
      content: "";
      position: absolute;
      width: 6px;
      height: 11px;
      right: 0;
      top: 4px;

      background-image: url('../images/icons/link-arrow.svg');
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr );
    column-gap: 30px;

    @media (max-width: $md) {
      column-gap: 20px;
    }

    @media (max-width: $sm) {
      grid-template-columns: 1fr;
      row-gap: 20px;
    }
  }
}

