.footer {
  &__top {
    display: flex;
    padding: 80px 0 60px;
    border-bottom: 1px solid #dae4e9;

    @media (max-width: $lg) {
      justify-content: space-between;
      padding: 50px 0 30px;
    }

    @media (max-width: $md) {
      flex-wrap: wrap;
    }

    @media (max-width: $xs) {
      padding: 40px 0 20px;
    }
  }

  a, p {
    display: block;

    @extend %rubik-400;
    font-size: 14px;
    line-height: 1.7;
    color: #7b7b7b;
  }

  &__logo {
    margin-bottom: 25px;
  }

  &__contacts {
    width: 200px;
    margin-right: 100px;
    
    @media (max-width: $lg) {
      margin-right: auto;
    }

    @media (max-width: $md) {
      order: -2;
      width: 45%;
    }

    @media (max-width: $xs) {
      width: 100%;
      margin-bottom: 15px;
    }
  }

  &__address-link {
    display: block;
    margin-bottom: 12px;
    font-style: normal;
    line-height: 1.7;
    transition: color 0.3s;
  }

  &__address-link,
  &__list-link,
  &__menu-link {
    transition: color 0.3s;

    &:hover {
      color: $accent-color;
    }

    &:focus {
      color: $title-color;
    }

    &:active {
      color: $active-color;
    }
  }

  &__item {
    max-width: 200px;
    width: 100%;
    margin-right: 100px;

    @media (max-width: $lg) {
      margin-right: auto;
    }

    @media (max-width: $md) {
      margin: 10px 0 0 0;
      max-width: 45%;
    }
  }

  &__item-title {
    display: inline-block;
    margin-bottom: 19px;
    margin-top: 15px;

    @extend %dmsans-700;
    font-size: 16px;
    text-transform: uppercase;
    color: #1f2044;

    @media (max-width: $xs) {
      margin-bottom: 10px;
    }
  }

  &__list-item {
    margin-bottom: 9px;
  }

  &__form {
    min-width: 270px;
    min-width: 270px;

    @media (max-width: $md) {
      order: -1;
      width: 45%;
    }

    @media (max-width: $xs) {
      width: 100%;
      margin-bottom: 15px;
    }
  }

  &__form-email {
    display: flex;
  }

  &__form-text {
    margin-bottom: 33px;

    @media (max-width: $sm) {
      margin-bottom: 15px;
    }
  }

  &__input {
    padding: 10px 14px;
    max-width: 170px;
    width: 100%;

    @extend %dmsans-400;
    font-size: 12px;
    background-color: rgba(252, 215, 182, 0.2);
    border: none;
    outline-color: transparent;

    &:focus {
      background-color: #dae4e9;
    }

    &::placeholder {
      @extend %dmsans-400;
      font-size: 12px;
      color: #234969;
    }
  }

  &__btn {
    min-width: 100px;
    display: inline-block;
    padding: 9px;

    @extend %dmsans-400;
    font-size: 14px;
    line-height: 1.5;
    border: none;
    color: #ffffff;
    background-color: $default-color;

    cursor: pointer;
    transition: color 0.3s, transform 0.3s;
    outline-color: transparent;

    &:hover {
      color: $active-color;
    }

    &:focus {
      background-color: $accent-color;
      color: $title-color;
    }

    &:active {
      transform: scale(0.9);
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 33px 0;

    @media (max-width: $lg) {
      padding: 20px 0;
    }

    @media (max-width: $xs) {
      flex-direction: column-reverse;
      align-items: flex-start;
      padding: 10px 0;
    }
  }

  &__menu {
    display: flex;

    @media (max-width: $xs) {
      margin-bottom: 10px;
    }
  }

  &__menu-item {
    &:not(:last-child) {
      position: relative;
      margin-right: 30px;

      &::before {
        content: "";
        width: 1px;
        height: 16px;
        position: absolute;
        right: -15px;
        bottom: 4px;
        background-color: #7b7b7b;
      }
    }
  }
}