.header {
  padding: 46px 10px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 113px;

  background-color: #ffffff;
  z-index: 10;

  @media (max-width: $lg) {
    height: 113px;
    padding: 30px 10px;
  }

  @media (max-width: $md) {
    height: 93px;
    padding: 20px 10px;
  }

  @media (max-width: $xs) {
    height: 144px;
  }

  &--scroll {
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.4);
  }

  &__logo {
    @media (max-width: $md) {
      margin-left: 60px;
      position: relative;
      z-index: 5;
    }

    @media (max-width: $xs) {
      margin-left: auto;
    }
  }

  &__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $xs) {
      flex-direction: column;
    }
  }

  &__control {
    display: flex;
    margin-top: 3px;
    z-index: 5;

    @media (max-width: $xs) {
      margin-left: auto;
      margin-top: 15px;
    }
  }

  &__link,
  &__btn {
    max-height: 50px;
  }

  &__btn {
    cursor: pointer;
    outline-color: transparent;
    transition: transform 0.3s, background-color 0.3s;

    &:hover {
      background-color: $accent-color;
    }

    &:focus {
      background-color: $accent-color;
      .header__link-icon {
        fill: #234969;
      }
    }

    &:active {
      transform: scale(0.9);
    }

    &--search {
      padding: 17px;
      margin-right: 20px;
      background-color: #edf1f4;
      border-radius: 50%;
      border: none;

      @media (max-width: $lg) {
        margin-right: 10px;
      }
    }

    &--tile {
      padding: 15px;

      background-color: $default-color;
      border-radius: 50%;
      border: none;
    }
  }
  
  &__link-icon {
    transition: fill 0.4s;
  }

  &__control-group {
    display: flex;
    max-height: 50px;
    margin-right: 20px;

    background-color: $accent-color;
    border-radius: 25px;

    @media (max-width: $lg) {
      margin-right: 10px;
    }
  }

  &__link {
    position: relative;
    text-align: center;
    min-width: 70px;

    &:not(:last-child) {
      &::after {
        content: "";
        position: absolute;
        width: 1px;
        height: 30px;
        top: 10px;
        bottom: 10px;
        right: 0;
        background-color: #fde7d3;
      }
    }

    &:first-child,
    &:last-child {
      min-width: 90px;
    }

    &:first-child {
      padding-left: 20px;

      .header__num {
        left: 58px;
      }
    }

    &:last-child {
      padding-right: 20px;
    }

    &:hover,
    &:focus {
      .header__link-icon {
          fill: $active-color;
        }

      .header__num {
          background-color: $active-color;
          color: #ffffff;
        }
    }

    &:focus {
      transform: scale(1.2);
    }

    &:active {
      transform: scale(1.2);
    }

    svg {
      margin-top: 20px;
    }

    @media (max-width: $xs) {
      min-width: 50px;

      &:first-child,
      &:last-child {
        min-width: 70px;
      }

      &:first-child {
        .header__num {
          left: 48px;
        }
      }
    }
  }

  &__num {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 13px;
    left: 38px;

    @extend %dmsans-500;
    font-size: 10px;
    text-align: center;
    line-height: 1.6;
    color: $title-color;

    background-color: #ffffff;
    border-radius: 50%;
    transition: background-color 0.4s, color 0.4s;

    @media (max-width: $xs) {
      left: 30px;
    }
  }
}

ul.menu__list {
  @media (max-width: $md) {
    padding-top: 96px;
  }

  @media (max-width: $sm) {
    padding: 100px 0 20px;
  }

  @media (max-width: $xs) {
    padding: 160px 0 20px;
  }
}

.menu {
  &.menu--active {
    .menu__btn-line:nth-child(1),
    .menu__btn-line:nth-child(3) {
      width: 15px;
    }

    .menu__btn-line:nth-child(1) {
      margin-bottom: -4px;
      transform: translateX(-14px) rotate(-45deg);
    }

    .menu__btn-line:nth-child(3) {
      margin-top: -4px;
      transform: translateX(-14px) rotate(45deg);
    }

    .menu__list {
      transform: translateX(0);
    }
  }


  &__btn {
    display: none;

    border: none;
    background-color: transparent;
    cursor: pointer;
    outline-color: transparent;

    @media (max-width: $md) {
      display: block;
      position: absolute;
      top: 35px;
      left: 10px;
      z-index: 5;
    }

    @media (max-width: $xs) {
      top: 25px;
    }
  }

  &__btn-line {
    width: 40px;
    height: 4px;
    background-color: #436372;
    display: block;
    margin: 6px auto;

    transition: all 0.3s ease-in-out;
  }

  &__list {
    margin-left: 148px;
    margin-top: -3px;
    display: flex;
  
    @media (max-width: $lg) {
      margin-left: 0;
    }

    @media (max-width: $md) {
      display: block;
      position: fixed;
      width: 250px;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: 3;

      background-color: #fff;
      transform: translateX(-200%);
      transition: transform 0.6s;
      box-shadow: inset 0px 0px 4px 0px rgba(37, 37, 37, 0.4);
    }

    @media (max-width: $sm) {
      right: 0;
      bottom: auto;
      width: 100%;
      max-height: 100%;

      overflow-y: auto;
      clip: rect(95px, auto, auto, auto);
      box-shadow: inset 0px 0px 4px 0px rgba(37, 37, 37, 0.4);
    }

    @media (max-width: $xs) {
      clip: rect(147px, auto, auto, auto);
    }
  }
  
  &__item {
    &:not(:last-child) {
      margin-right: 35px;
    }

    @media (max-width: $lg) {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }

    @media (max-width: $md) {
      &:not(:last-child) {
        margin-right: 0;
      }
      border: 1px solid transparent;
      border-left-width: 4px;
      transition: border-color 0.4s;

      &.menu__item--active {
        border-color: #436372;
      }
    }

    @media (max-width: $sm) {
      border: none;
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
      text-align: center;

      &.menu__item--active {
        border-color: #436372;
      }
    }
  }

  &__link {
    padding-bottom: 2px;

    @extend %rubik-500;
    font-size: 15px;
    line-height: 0.8;
    color: #436372;

    border-bottom: 1px solid transparent;
    transition: color 0.4s, border-color 0.4s;

    &:hover {
      color: $accent-color;
    }
    
    &:focus {
      color: $accent-color;
      border-bottom-color: $accent-color; 
    }

    &:active {
      color: $active-color;
    }

    @media (max-width: $md) {
      display: block;
      padding: 20px;
    }
  }
}