.new-design {
  padding-bottom: 120px;

  @media (max-width: $md) {
    padding-bottom: 70px;
  }
  @media (max-width: $xs) {
    padding-bottom: 50px;
  }

  &__filter {
    margin-bottom: 75px;

    @media (max-width: $lg) {
      margin-bottom: 50px;
    }

    @media (max-width: $sm) {
      margin-bottom: 25px;
    }
  }

  &__title {
    margin-bottom: 21px;

    @media (max-width: $lg) {
      margin-bottom: 10px;
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 35px;
    min-height: 246px;

    @media (max-width: $md) {
      grid-template-columns: repeat(2, 1fr );
      justify-items: center;
    }

    @media (max-width: $xs) {
      grid-template-columns: 1fr;
      justify-items: center;
      row-gap: 15px;
    }
  }

  &__item {
    position: relative;
    max-width: 370px;
    width: 100%;
    min-height: 246px;
    padding: 40px 36px;

    @media (max-width: $md) {
      max-width: 466px;
    }

    @media (max-width: $sm) {
      padding: 10px 25px;
    }

    @media (max-width: $xs) {
      max-width: 370px;
    }
  }
  

  &__item-title {
    max-width: 180px;
    margin-bottom: 10px;

    font-size: 20px;
    text-align: left;

    @media (max-width: $sm) {
      margin-bottom: 5px;
      line-height: 1.2;
    }
  }

  &__subtitle {
    max-width: 65px;

    @extend %dmsans-700;
    color: #a3bbc8;
  }

  &__img, 
  &__link {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__img {
    max-width: 370px;
    width: 100%;
    height: 100%;
    max-height: 246px;
    object-fit: cover;
    overflow: hidden;
    z-index: -1;

    @media (max-width: $md) {
      max-width: 466px;
    }
  }

  &__link {
    transition: box-shadow 0.4s, border 0.3s;

    &:hover {
      box-shadow: 0px 6px 20px 3px rgba(37, 37, 37, 0.4);
    }

    &:active {
      border: 1px solid rgba(37, 37, 37, 0.4);
    }
  }
}