.popular {
  padding: 65px 0 100px;

  &__filter {
    margin-bottom: 80px;
  }

  &__products {
    display: grid;
    margin-bottom: 80px;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 40px;
    min-height: 380px;
  }

  &__light {
    padding-top: 105px;
  }

  .light {
    &__inner {
      display: flex;
    }
  }
}

