.top-info {
  &__list {
    display: flex;
    justify-content: space-between;
    min-height: 170px;
    background-color: #fef7f0;

    @media (max-width: $lg) {
      min-height: auto;
    }

    @media (max-width: $md) {
      display: block;
    }
  }

  &__item-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    &:not(:last-child) {
      border-right: 1px solid #e8e4df;

      @media (max-width: $md) {
        border-right: none;
        border-bottom: 1px solid #e8e4df;
      }
    }
  } 

  &__item {
    display: flex;
    padding: 15px;
    max-width: 600px;

    @media (max-width: $lg) {
      padding: 25px 15px;
    }

    @media (max-width: $md) {
      padding: 15px;
    }

    @media (max-width: $xs) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__content {
    margin-top: -2px;
    margin-left: 25px;
    max-width: 220px;

    @media (max-width: $lg) {
      margin-left: 10px;
    }

    @media (max-width: $md) {
      margin-left: 25px;
    }

    @media (max-width: $xs) {
      max-width: 100%;
      text-align: center;
    }
  }

  &__title {
    display: inline-block;
    margin-bottom: 4px;
    @extend %dmsans-700;
    font-size: 18px;
  }

  &__text {
    line-height: 1.8;

    @media (max-width: $sm) {
      line-height: 1.2;
    }
  }
}